<p>Website tested: {{ benchmark.getWebsite() }}</p>
<p><strong>Slow!</strong> Tested website is loaded slower than at least one of the competitors.</p>

<hr />
<p>Websites to compare:</p>
<table>
    <thead>
        <tr>
            <th>Website url</th>
            <th>Loading time</th>
            <th>Time difference</th>
        </tr>
    </thead>
    <tbody>
        {% for cm in benchmark.getCompetitors() %}
            <tr>
                <td>{{ cm.getDomain() }}</td>
                {% if cm.getTime() is null %}
                    <td colspan="2">The specified domain can not be examined, please check the correctness of the address.</td>
                {% else %}
                    <td>{{ cm.getTime() }} ms</td>
                    <td>{{ cm.getTime() - benchmark.getWebsite().getTime() }} ms</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
           